.DS_Store
feedlearn.aux
feedlearn.bbl
feedlearn.blg
feedlearn.log
feedlearn.out
feedlearn.synctex.gz
edvertisements.aux
edvertisements.bbl
edvertisements.blg
edvertisements.log
edvertisements.out
edvertisements.synctex.gz
